<!DOCTYPE html>
<html>
  <head>
    <title>BookFace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- navbar -->
    <script type='text/javascript'>
      window.nav_bar_fb_logo = '<%=  image_path("navbar/facebook-f-logo.png") %>'
      window.nav_bar_mag_glass = '<%=  image_path("navbar/search-bar-magnifying-glass.png") %>'
      window.friends_symbol = '<%=  image_path("navbar/friends-symbol.png") %>'
      window.messages_symbol = '<%=  image_path("navbar/messages-symbol.png") %>'
      window.notifications_symbol = '<%=  image_path("navbar/notifications-symbol.png") %>'
      window.quick_help_symbol = '<%=  image_path("navbar/quick-help-symbol.png") %>'
      window.downward_arrow_symbol = '<%=  image_path("navbar/downward-arrow-symbol.png") %>'
    </script>

    <!-- user profile -->
    <script type='text/javascript'>
      window.beatles = '<%=  image_path("user_show/beatles-ed-sullivan.png") %>'
      window.bookface_jim = '<%=  image_path("user_show/bookface-jim.png") %>'
    </script>


    <!-- session page -->
    <script type='text/javascript'>
      window.session_top_pic = '<%=  image_path("session_page/sign-in-top-pic.png") %>'
      window.session_mid_pic = '<%=  image_path("session_page/sign-in-mid-pic.png") %>'
      window.session_bot_pic = '<%=  image_path("session_page/sign-in-bottom-pic.png") %>'
    </script>


    <%= yield %>
  </body>
</html>
